
#my-player, body, html{
      width: 100%;
    height: 100%;
    margin:0;
    overflow: hidden;
}
#dialog{
  position:fixed;
  top:30px;
  left:30px;
  right:30px;
  text-align: center;
  z-index: 201px;
}
  #tabs{   
  	padding:0;
	position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:0;
  }
  #my-player{
  	position:fixed;
  	top:0;
  	height:200px;
  	z-index: 200;
  }
	div#two {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 2.2em;
	}
	div#one{
	    position: absolute;
	    top: 2.2em;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    padding: .4em;
    	padding-right: 0;
	}
	.WS.ui-btn {
	    margin: 0;
	    width: 31.7%;
	    margin-right: .4em;
        margin-bottom: .4em;
	    float: left;
	}

	#twoBox{
		padding:0;
		height:100%;
	}
	#twoBox > ul{
		height:100%;
	    border-radius: 0;
	    overflow: auto;
	}
	#twoBox .ui-btn{
		border-radius: 0;
	}

  .full #my-player{
  	height:100%;
  }
  .video-js .vjs-tech{
    object-fit: fill;
    /*width: 40%;*/
    /*left: 30%;*/
  }
  *{
        box-sizing: border-box;
  }
  .video-lockBox{
    position: absolute;
    display: none;
    width: 4em;
    height: 4em;
    left: 2em;
    top:0;
    bottom: 0;
    margin: auto;
  	z-index:204;
  }
  .video-lockShadow{
  	z-index:203;
  	position: absolute;
  	display: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .video-lock .video-lockShadow{
  	display: block;
  }
  .video-lockBox:after{
  	content:'锁';
    font-size: 4em;
  }
  .video-lock .video-lockBox:after{
  	content:'解';
  }
  .video-dialog{
    background: #333;
    position: absolute;
    height: 100px;
    width:300px;
    top: 50px;
    left: 0;
    right: 0;
    color:#fff;
    border-radius: 30px;
    padding:30px;
    margin: auto;
  }
  .video-js .video-tools{
    display: none;
  }
  .vjs-controls-disabled .video-tools{
  	display: none;
  }
  .vjs-has-started .video-tools, .full .video-lockBox, .full .video-brightness{
    display: block;
      opacity: 1;
  }
  .vjs-has-started.vjs-user-inactive.vjs-playing .video-tools{
      visibility: visible;
      opacity: 0;
      transition: visibility 1s, opacity 1s;
  }
  .video-qxdBox{
  	position: absolute;
    left: 75%;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(43, 51, 63, 0.7);
    z-index:204;
  }
  .video-boxShadow{
  	z-index:203;
  	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .video-settingBox{
        padding: 10px;
  	position: absolute;
    left: 60%;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(43, 51, 63, 0.7);
    z-index:205;
  }
  .video-selectPDBox{
  	position: absolute;
    left: 40%;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(43, 51, 63, 0.7);
    z-index:206;
  }
  .video-fenxiangBox{
  	position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(43, 51, 63, 0.7);
    z-index:206;
  }
  .video-tools{
      transition: visibility 0.1s, opacity 0.1s;


      background-color: rgba(43, 51, 63, 0.7);
      width:100%;
      position: absolute;
      top:0;
      left:0;
      right:0;
      height:3.0em;
  }
  .vjs-control-bar, .video-tools{
    z-index:200;
  }

  .video-qxdBoxShow .video-tools, .video-qxdBoxShow .vjs-control-bar, 
  .video-settingBoxShow .video-tools, .video-settingBoxShow .vjs-control-bar, 
  .video-selectPDBoxShow .video-tools, .video-selectPDBoxShow .vjs-control-bar, 
  .video-fenxiangBoxShow .video-tools, .video-fenxiangBoxShow .vjs-control-bar, 
  .video-lock .video-tools, .video-lock .vjs-control-bar,
  .video-lock .video-brightness,
  .video-qxdBox,
  .video-boxShadow,
  .video-settingBox,
  .video-selectPDBox,
  .video-fenxiangBox,
  .video-brightness{
  	display: none;
  }
  .video-qxdBoxShow .video-qxdBox, .video-qxdBoxShow .video-boxShadow,
  .video-settingBoxShow .video-settingBox, .video-settingBoxShow .video-boxShadow,
  .video-selectPDBoxShow .video-selectPDBox, .video-selectPDBoxShow .video-boxShadow,
  .video-fenxiangBoxShow .video-fenxiangBox, .video-fenxiangBoxShow .video-boxShadow
  {
  	display: block;
  }
  .full .pageBack{
    display: none;
  }
  .pageBack{
    padding:8px;
    float: left;
  }
  .pageBack img{
    display: block;
  }
  .shocang{
    font-size:14px;
    padding:10px;
    float:right;
    display: block;
    font-size: 1em;
    font-weight: 600;
  }
  .fenxiang{

    font-size:14px;
    padding:10px;
    float:right;
    display: block;
    font-size: 1em;
    font-weight: 600;
  }
  .pindao{

    font-size:14px;
    padding:10px;
    float:right;
    display: block;
    font-size: 1em;
    font-weight: 600;
  }
  span.ui-btn-inner{
    display: none!important;
  }

  .ui-page.ui-body-c.ui-page-active{
    height:100%;
  }

  .full .vjs-fullscreen-control .vjs-icon-placeholder:before{
  	content:"\f109";
  }
  .full #tabs{
  	margin-top:100%;
  }
	.tablist-left {
		width: 25%;
		display: inline-block;
	}
	.tablist-content {    
		height: 100%;
	    overflow: auto;
	    position: absolute;
	    left: 25%;
	    right: 0;
		display: inline-block;
		vertical-align: top;
	}
	.jmdTime{
	    width: 4em;
	}
	.jmdBtn{
	    width: 6em;
	}
	.jmdHK{
		margin:0;
		padding:.3em;
	}
	#twoBox .ui-table-columntoggle-btn{
		display: none;
	}
	.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
		background:none;
		text-shadow:none;
	}
	.ui-page-theme-a{

	}
	.vjs-control.ui-btn{
		background:none;
		text-shadow:none;
		color:#fff;
	}
	.typeList .ui-btn, .wsList .ui-btn, .typeList .ui-btn:hover, .wsList .ui-btn:hover{
		background: none;
		color:#ccc;
		text-shadow:none;
	}
	.typeList{
		width:30%;
		display: inline-block;
	    /*padding: 0 3em;*/
	}
	.wsList{
		width:70%;
		display: inline-block;
	    /*padding: 0 3em;*/
		vertical-align: top;
	}
	.fx_btn {
	    width: 33%;
	    display: inline-block;
	    text-align: center;
	    vertical-align: middle;
	    height: 75px;
	    position: relative;
	}
	.fx_btn img{
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	}
  .hm_btn{
      width: 25%;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      height: 30px;
      position: relative;
     margin: 10px auto 0;
  }
  .hm_btn img{
    width:15px;
    height:15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
	.video-fBox{
		height:150px;
		width:100%;
		position: absolute;
		top:0;
		bottom:0;
		margin:auto;
	}
  .video-brightness{
    position:absolute;
    left:0;
    right:50%;
    top:0;
    bottom:0;
    z-index: 199;
  }
  .video-settingBox .ui-slider input{
    display:none;
  }
  .video-hm{
    margin-bottom:10px;
  }
  .video-settingBox-ld + div{
    margin:0 15px;
  }